* {
  font-size: 62.50%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  min-width: 388px;
  background-color: rgb(245, 245, 245);
}
/*Header con nombre y navbar*/
.header {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}

.name a {
  text-decoration: none;
}

.name a h1 {
color: black;
text-align: center;
font-size: 10rem;
font-family: 'League Spartan', sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
}

ul {
  padding: 1%;
}

.nav ul li a {
  display: inline-block;
  width: 10rem;
  text-align: center;
  font-size: 2rem;
  font-family: 'League Spartan', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid black;
  color:black;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(220, 220, 220);
}

.nav ul li a:hover {
  font-size: 1.9rem;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  opacity: 0.3;
}

/* Galería con grid */
#galeria{
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  gap: 0.5rem 0.5rem;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 1rem;
}
#hide{
  display: none;
}

.pictures img{
  width: 270px;
}

.pictures:hover {
  opacity: 0.3;
  cursor: pointer;
  transition: 0.3s all ease;
  transform: scale(0.9);
}

/* Footer con social links */
.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 20rem;
  box-shadow: 0px -3px rgb(220, 220, 220);
}

.social{
  display:flex;
  justify-content: space-between;
}

.social ul {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.social ul li {
  list-style: none;
  margin: 1rem;
}

/* Íconos de Font Awesome */ 
.fa-brands.fa-instagram {
  font-size: 32px;
  color: black;
}
.fa-brands.fa-instagram:hover {
  opacity: 0.5;  
}

.fa-brands.fa-twitter-square {
  font-size: 32px;
  color: black;
}
.fa-brands.fa-twitter-square:hover {
  opacity: 0.5;  
}

.fa-brands.fa-youtube-square {
  font-size: 32px;
  color: black;
}
.fa-brands.fa-youtube-square:hover {
  opacity: 0.5;  
}

@media screen and (min-width: 930px) and (max-width: 1540px){
  #galeria{
    grid-template-columns: max-content max-content max-content; 
  }
  #hide{
    display:inline;
  }
}

@media screen and (min-width: 500px) and (max-width: 930px){
  #galeria{
    grid-template-columns: max-content max-content; 
  }
  #hide{
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #galeria{
    grid-template-columns: max-content; 
  }
  .pictures img{
    width: 95vw;
  }
  #hide{
    display:inline;
  }
}


